@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

$almostWhite: #d2d2d2;
$softWhite: #888888;
$greenPos: #3a6f36;
$redPaused: #6f3c15;
$darker: #1a1a1a;

#dashboard {
  background-color: #000;
  color: $almostWhite;
  overflow: hidden;
  height: 100vh;
}

#players {
  #playerGrid {
    .card {
      margin-bottom: 20px;
    }
  }
}
